/* google font inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@layer base {
  * {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .container2 {
    @apply w-full max-w-[1400px] mx-auto px-[4%] md:px-[6%];
  }
  .gradient-text {
    background: linear-gradient(45deg, #e855de, #5400ee);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

@layer utilities {
  .active {
    @apply border-b-4 border-purple-500 text-purple-600;
  }
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
